root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    background-color: #0dcaf0;
}

.container {

}
/*.navbar {*/
/*    background-color: #0dcaf0;*/
/*}*/
.card-body {
    background-color: #FFCF99;
}
/*.card {*/
/*    background-color: #111D4A; */
/*}*/